<!-- 
 File Name: footer.ejs
 Author: Amandeep Aujla
 Website Name: https://expressportfolio-aaujla.herokuapp.com/ /
 File Description: Footer File.
-->
 
 
 
 
 <!--Footer -->
        <div class= "footer">
        <div class="footer-top">
                <div class="row">
                       
                        <p class="copyright clear-float">
                        © Amandeep Aujla Theme. All Rights Reserved
                        </p>
                       
                        <div class="credits">
                                Designed by <a href="https://github.com/aaujla55">Amandeep Aujla</a>
                        </div>
                      
                        </div>
                </div>
                </div>
        </div>