body{
	 font-family: Verdana, Geneva, sans-serif;
    background: url('cent.jpg') no-repeat fixed ;
    background-position: center;
    background-size: 100%;
    background-color: rgb(120, 146, 183);

}
h1{
    font-family:Georgia, serif;
}
#navBarMain{
	background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 23%, rgba(114,170,0,1) 59%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(191,210,85,1)), color-stop(23%,rgba(142,185,42,1)), color-stop(59%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* W3C */

	float:left;
	width:100%;
	display: inline;
    border-radius: 5px;
}
#logo {
	height:64px;
    border-radius: 5px;
}



.contentBox{

	border-radius: 5px;
	margin-left: 20%;
	margin-right: 20%;
	padding:10px;
    overflow: auto;
    margin-top: 15px;
    padding:10px;
    margin-top: 2px;
    height:auto;
    background-color: mintcream;
}
.f{
	padding:2px;
}
.l{
	font-family: Verdana, Geneva, sans-serif;
	margin-left: 4px;
} 

.formButton {


    color: white;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    
     
     height:20%;
     background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 23%, rgba(114,170,0,1) 59%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(191,210,85,1)), color-stop(23%,rgba(142,185,42,1)), color-stop(59%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 );  IE6-9 *
 


}

.formButton:hover {
    background: #30393E; 
}



.footer{
    
background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 23%, rgba(114,170,0,1) 59%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(191,210,85,1)), color-stop(23%,rgba(142,185,42,1)), color-stop(59%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 23%,rgba(114,170,0,1) 59%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 );  IE6-9 *
color:white;
padding:1px;
    
}