<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title><%= title %></title>
    <!--CSS -->
       <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css' />
       <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css' />
       <link rel='stylesheet' href='/Content/app.css' />
    
  </head>
  
  <body>
  <!--Scripts -->
    <script src ="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src ="/Scripts/lib/bootstrap/jquery/dist/js/bootstrap.min.js"></script>
    <script src ="/Scripts/app.js"></script>
    <div class="outerboxnav">
        <ul class="topnav">
        <li><a href="/">Home</a><li>
        <li><a href="/projects">Projects</a><li>
        <li><a href="/contactMe">Contact Me</a><li>
        <li class="icon">
            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
          </li>
        </ul>
        </div>
    <div class="outerbox"> 
    <div class = "page-header">
    <h1>CONTACT ME<h1>
    </div>
    <div class= "txt-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eveniet dolorem porro corporis eius aliquam ea nobis explicabo ullam laborum consequatur ut perferendis sint odit nesciunt ratione nam veniam consectetur ad, molestias, maxime! Doloribus doloremque veniam cumque, pariatur dignissimos ut.</p>
    </div>
    <div class="innerBox">
    <form>
    <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Name</label>
    <div class="col-10">
    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
    </div>
    </div>
      <div class="form-group row">
      <label for="example-tel-input" class="col-2 col-form-label">Phone</label>
      <div class="col-10">
        <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
      </div>
    </div>

    <div class="form-group row">
    <label for="example-email-input" class="col-2 col-form-label">Email</label>
    <div class="col-10">
      <input class="form-control" type="email" value="youremail@example.com" id="example-email-input">
    </div>
    </div>

  <div class="form-group row">
    <label for="exampleTextarea">Comments/Leave Message</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>

   <button type="submit" class="btn btn-default center-block">Submit</button>

</div>
    </form>
    
    <div class= "wrapper-for-images-no-hover">
    </div>
    
    </div>
    <div>
      <div class= "footer">
      &copy;2017- Amandeep Aujla
     </div>
     </body>
</html>