<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title><%= title %></title>
    <!--CSS -->
       <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css' />
       <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css' />
       <link rel='stylesheet' href='/Content/app.css' />
    
  </head>
  
  <body>
  <!--Scripts -->
    <script src ="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src ="/Scripts/lib/bootstrap/jquery/dist/js/bootstrap.min.js"></script>
    <script src ="/Scripts/app.js"></script>
    
    <div class="outerboxnav">
    </div>
    <div class="outerbox"> 
    <div class = "page-header">
    <h1>PROJECTS<h1>
    </div>    
    <!-- Page Content -->
    <div class="container">
    <BR><BR>
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                <img class="img-responsive" src="/Assets/images/proj9.jpg" alt="Basic product catalogue">
                  <div class="overlay">
                  <h2>Add to Cart</h2>
                 <a class="info" href="http://studentweb.cencol.ca/aaujla5/assignment2.html">SHOW</a>
                </div>
               </div>
             </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                <img class="img-responsive" src="/Assets/images/proj2.jpg" alt="JS Validation Example">
                  <div class="overlay">
                 <h2>Registration Form</h2>
                 <a class="info" href="http://studentweb.cencol.ca/aaujla5/assignment3.html">SHOW</a>
                </div>
               </div>
             </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                <img class="img-responsive" src="/Assets/images/proj3.png" alt="Real Estate Website">
                  <div class="overlay">
                 <h2>Real Estate</h2>
                 <a class="info" href="http://studentweb.cencol.ca/aaujla5/realEstate/index.html">SHOW</a>
                </div>
               </div>
             </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                <img class="img-responsive" src="/Assets/images/proj4.jpg" alt="Canvas Game">
                  <div class="overlay">
                 <h2>Bug Smasher</h2>
                 <a class="info" href="http://studentweb.cencol.ca/aaujla5/game.html">SHOW</a>
                </div>
               </div>
             </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                <img class="img-responsive" src="/Assets/images/proj1.jpg" alt="JS Validation Form">
                  <div class="overlay">
                 <h2>Rent Vehicle</h2>
                 <a class="info" href="http://studentweb.cencol.ca/aaujla5/PracticalTest300823928.html">SHOW</a>
                </div>
               </div>
             </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                <img class="img-responsive" src="/Assets/images/proj6.jpg" alt="">
                  <div class="overlay">
                 <h2>EHR DEPLOYMENT</h2>
                 <a class="info" href="https://drive.google.com/open?id=0B_iVCkTj_CxWekdVd3JhLUEwYmc">SHOW</a>
                </div>
               </div>
             </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                <img class="img-responsive" src="/Assets/images/proj7.jpg" alt="Information system">
                  <div class="overlay">
                 <h2>Gym Management System</h2>
                 <a class="info" href="http://studentweb.cencol.ca/aaujla5/Gym.pdf">SHOW</a>
                </div>
               </div>
             </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="hovereffect">
                <img class="img-responsive" src="/Assets/images/proj8.jpg" alt="Information system">
                  <div class="overlay">
                 <h2>Pharmacy Management System</h2>
                 <a class="info" href="http://studentweb.cencol.ca/aaujla5/Pharmacy.pdf">SHOW</a>
                </div>
               </div>
             </div>
          
        </div>
         <div class= "wrapper-for-images-no-hover">
        </div>
        </div>
        </div>
          <div class= "footer">
            &copy;2017- Amandeep Aujla
          </div>
  </body>
</html>