<!--My Portfolio-->
<!-- Author: Amandeep Aujla, JAN 2017-->
<!--Services: Describes the services provided-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title><%= title %></title>
    <!--CSS -->
       <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css' />
       <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css' />
       <link rel='stylesheet' href='/Content/app.css' />
    
  </head>
  <body>
  <!--Scripts -->
    <script src ="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src ="/Scripts/lib/bootstrap/jquery/dist/js/bootstrap.min.js"></script>
    <script src ="/Scripts/app.js"></script>
    <!--Navigation -->
     <div class="outerboxnav">
        <ul class="topnav">
        <li><a href="/">Home</a><li>
        <li><a href="/projects">Projects</a><li>
        <li><a href="/contactMe">Contact Me</a><li>
        <li class="icon">
            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
          </li>
        </ul>
        </div>
        <!--Main outer Box -->
    <div class="outerbox"> 
    <div class = "page-header">
    <h1>SERVICES<h1>
    </div>
    <div class= "txt-description">
    <p>I am a .NET developer. I do web design and development. Also Desktop application development.I offer Freelancer services. Skill set: •	Framework : Linux/Unix, .NET, MS-SQL Server ,Windows system
    •	Knowledge of software’s including Microsoft Office, Visual Studio, Eclipse, Visual Paradigm, Visio, VMware Workstation, Dreamweaver- Adobe, Sublime text, Outlook, MS SharePoint, Microsoft Outlook
    •	Solid understanding of Object Oriented Design
    •	Basic knowledge of software methodologies, tools and techniques and SDLC

    </p>
    </div>
    <div class= "wrapper-for-images-no-hover">
    </div>
    
    </div>
    <div>
    <!--Footer -->
      <div class= "footer">
      &copy;2017- Amandeep Aujla
     </div>
  </body>
</html>